*.cache
*.vsidx
*.suo
*.pdb
*.txt
*.config
.vs/Logger/FileContentIndex/8c1d42ff-e18b-4da2-8549-a1e8fcf19100.vsidx
*.vsidx
.vs/Logger/v17/.suo
*.pdb
*.cache
*.dll
*.vsidx
*.xml
*.cache
*.cache
*.vsidx
.vs/Logger/FileContentIndex/8c1d42ff-e18b-4da2-8549-a1e8fcf19100.vsidx
*.vsidx
*.vsidx
.vs/Logger/FileContentIndex/8c1d42ff-e18b-4da2-8549-a1e8fcf19100.vsidx
